vm_user:
  username: cloud
  # 'userpasswd_hash' is the hash of your user's login password,
  # use 'mkpasswd -m sha-512' to generate your hash value
  userpasswd_hash: xxxxxx
git: 
  username: junjiang
  email: junjiang@ctrip.com
  # If set 'clone_to_home_dir: Dev', git will clone all the repos under '/home/<user>/Dev/'
  clone_to_home_dir: Dev
